---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Link from '../../components/Link.astro'
---

<BaseLayout>
  <ul>
    <li class='flex flex-row items-baseline justify-center'>
      <Link href='/demos/add2calendar'>Add2Calendar</Link> - a link/.ics generator
    </li>

    <li class='flex flex-row items-baseline justify-center'>
      <Link href='https://tannineo.github.io/solid-metronome'>Solid Metronome</Link> - a metronome
      app in Solid.js
    </li>

    <li class='flex flex-row items-baseline justify-center'>
      <Link href='https://tannineo.github.io/simple_lip_sync_js/'>LipSyncRoboot</Link> - a simple
      'lip sync' tool based on volume
    </li>
  </ul>
</BaseLayout>
