---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Link from '../../components/Link.astro'
---

<BaseLayout>
  <ul>
    <li class='flex flex-row items-baseline justify-center'>
      <Link href='/demos/add2calendar'>Add2Calendar</Link> - a link/.ics generator
    </li>
  </ul>
</BaseLayout>
