---
import Link from './Link.astro'

interface Props {
  link: string
  name: string
  description: string
}

const { link, name, description } = Astro.props
---

<li class='m-2' u-flex='~ col lg:row items-baseline justify-center'>
  <div class='flex-none text-nowrap'><Link href={link}>{name}</Link></div>

  <div class='w-full' u-flex='~ row items-baseline justify-end'>
    <div class='flex-none m-1'>-</div>
    <div class='flex-none'>{description}</div>
  </div>
</li>
