---
import Link from './Link.astro'
---

<header
  class='w-full fixed top-0 bg-sumi shadow-lg shadow-seiji'
  u-flex='~ col md:row items-baseline justify-center'
>
  <a id='site-name' class='flex-none text-3xl p-4 hover:text-white hover:underline' href='/'
    >Tannineo's Test Field</a
  >
  <nav class='flex-1 w-full items-center justify-end p-4' u-flex='~ row'>
    <Link href='/demos'>Demos</Link>
    <Link href='/shared-files'>Shared Files</Link>
    <Link href='https://github.com/tannineo'>Me</Link>
  </nav>
</header>

<!-- fixed header offset -->
<div class='h-40 md:h-20'></div>
