---
import Link from './Link.astro'
---

<header class='w-full' u-flex='~ row items-baseline justify-center'>
  <span id='site-name' class='flex-none text-3xl p-4'>Tannineo's Test Field</span>
  <nav class='flex-1 flex flex-row items-center justify-end p-4'>
    <Link href='/demos'>Demos</Link>
    <Link href='https://github.com/tannineo'>Me</Link>
  </nav>
</header>
